<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>嚐室＿購物車</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{css/styles.css}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
    	
    
        <main class="flex-shrink-0"> 
        	  <!-- 導航欄 零件化了 有問題的話去index找-->
            <nav th:replace="~{commons/common::navbar(active='cart.html')}"></nav>
            <!-- Page Content-->
            <section class="bg-white " id="todolist"> 
           
            	<h1>購物車整修中！</h1>
            	<div>
            	<h3>概念設計: 1.增刪改查 2.結帳鍵 </h3>
            	<span>
            	<strong>執行動作大前提 檢查用戶有沒有登入？執行：登入</strong>
            	<ul>
            		<li>增加商品</li>
            	</ul>
            	<table class="todo-table">
            		<tr><td>#1</td><td>第一次加入購物車，創建購物車再加入購物車</td></tr>
            		<tr><td>#2</td><td>購物車內有商品，數量+1</td></tr>
            		<tr><td>#3</td><td>加入購物車裡沒有的商品，加入商品</td></tr>
            	</table>
            	
            	<ul>
            		<li>查看購物車</li>
            	</ul>
            	<table class="todo-table">
            		<tr><td>#1</td><td>沒登入也可以查看購物車，（用到cookie)</td></tr>
            		<tr><td>#2</td><td>有登入，可以在不同設備上查詢</td></tr>
            	</table>
            	
            	 <ul>
            		<li>刪除購物車</li>
            	</ul>
            	<table class="todo-table">
            		<tr><td>#1</td><td>沒購物車，不執行動作</td></tr>
            		<tr><td>#2</td><td>有購物車，商品數量>刪除數量，刪除該數量</td></tr>
            		<tr><td>#3</td><td>有購物車，商品數量=刪除數量，刪除該商品</td></tr>
            		<tr><td>#4</td><td>有購物車，商品數量 &lt 刪除數量，刪除購物車 </td></tr>
            	</table>
            	
            	 <ul>
            		<li>購買購物車</li>
            	</ul>
            	<table class="todo-table">
            		<tr><td>#1</td><td>沒購物車，不執行動作</td></tr>
            		<tr><td>#2</td><td>有購物車，購買全部</td></tr>
            		<tr><td>#3</td><td>有購物車，購買指定</td></tr>
            	</span>
            	</div>
            </section> 
        	
        </main>
        
        <!-- Footer-->
        <!-- <footer class="bg-dark py-4 mt-auto" id="index-footer">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
           
        </footer>
 -->        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
