<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="TastePlace,嚐室,可麗露,巴斯克,磅蛋糕,客製化甜點,布朗尼" />
        <meta name="author" content="吳育庭,曾信堯" />
        <title>嚐室 TastePlace</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
        <!--<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}" rel="stylesheet" />  -->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
        									<!--傳入 active 當前頁面 的參數 -->
        <nav th:replace="~{commons/common::navbar(active='index.html')}"></nav>
  
            <!-- Header-->
            					<!-- 以後改成暖橘色 疑似需要sass文件 -->
            <header class="p-3 mb-2 py-5 bg-white" id="index-header">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <!-- <h1 class="display-5 fw-bolder text-white mb-2">嚐嚐我的甜點</h1>
                                <h1 class="display-5 fw-bolder text-white mb-2">           看看我的工作室</h1> -->
                               <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                              </div>
                            </div>
                        </div>
                        <!-- 首圖放在這裡 -->
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5" id="carousel-container">
                	                <!--輪播圖 ＃7619-->
                <div class="slider_container" id="carousel">
                	<div id="index-pic">
                		<img alt="basque" th:src="@{/images/小站立可麗露.png}"  ></img>
                		<span class="info">深藏不露</span>
                	</div>
                	<div id="index-pic">
                		<img alt="basque" th:src="@{/images/小巧克力曲奇.png}"  ></img>
                		<span class="info">長腿辣妹</span>
                	</div>
                	<div id="index-pic">
                		<img alt="basque" th:src="@{/images/小莓果巴斯克.png}"  ></img>
                		<span class="info">客製化巴斯克</span>
                	</div>
                	<div id="index-pic">
                		<img alt="basque" th:src="@{/images/小磅蛋糕.png}"  > </img>
                		<span class="info">巧克力磅蛋糕</span>
                	</div>
                	<div id="index-pic">
                		<img alt="basque" th:src="@{/images/小小巴斯克.png}"  ></img>
                		<span class="info">一口巴斯克</span>
                	</div>
                	
                </div>
                    <div class="row gx-5">
                        
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2" id="index-trigger">
							<!-- Button trigger modal -->
							<div>
								<button type="button" class="d-grid gap-3 d-sm-flex btn btn-active bg-Light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
							  		訂購方式
								</button>
							</div>
							<p>
							<div>
								<button type="button" class="d-grid gap-3 d-sm-flex btn btn-active bg-Light" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
							  		保存方式及期限
								</button>
							</div>
							<p>
							<div>
								<button type="button" class="d-grid gap-3 d-sm-flex btn btn-active bg-Light" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
							  		宅配
								</button>
							</div>
							<p>
							<div>
								<button type="button" class="d-grid gap-3 d-sm-flex btn btn-active bg-Light" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
							  		修改訂單及退換貨政策
								</button>
							</div>
														
							
							<!-- 訂購資訊欄位 -->
							<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="staticBackdropLabel">訂購須知</h5>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        <ol>
							        <li>官網的購物車整修中，下單請先加入官方Line帳號 <mark><em>@855cuteg</em></mark> </li> 
							        <li> 甜點都是接單才製作，每張訂單都是付款後5工作天才出貨，不含例假日、不接急單，可以接受再下單。</li>
							        <li> 甜點皆純手工製作，餅乾皆手工擠花、切割，大小部分有落差皆屬正常，可以接受再下單。</li>
							        <li> 若為客製化產品 ex:減糖、口味混搭…等，請先加line討論再下單。</li>
							        <li>付款方式：銀行轉帳付款，下單後會提供「台新銀行」匯款帳戶。</li>
							  
							        
							        </ol>
							        
							        
							        
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
							      </div>
							    </div>
							  </div>
							</div>
							<!-- 保存期限欄位 -->
							<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="staticBackdropLabel">保存期限及方式</h5>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        <ul>
								        <li>巴斯克：冷藏7天、冷凍1個 </li> 
								        <li>可麗露：常溫1天內、冷藏7天、冷凍1個月</li>
								        <li>餅乾：常溫15天（若因開開關關而軟掉 可用150度回烤五分鐘即可）</li>
								        <li>磅蛋糕：</li>
								        <li>餅乾：常溫15天（若因開開關關而軟掉 可用150度回烤五分鐘即可）</li>
								  
							        
							        </ul>
							        
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
							      </div>
							    </div>
							  </div>
							</div>
							<!-- 宅配欄位 -->
							<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="staticBackdropLabel">宅配</h5>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							      	<table style="border:3px #cccccc solid;" cellpadding="2" border='1' id="index-table">
							      		<tr><td>常溫宅配</td><td>運費：180元，恕只接受匯款及LinePay</td></tr>
										<tr><td>常溫超取</td><td>運費：60元，恕只接受匯款及LinePay</td></tr>							      	
										<tr><td>冷凍宅配</td><td>運費：180-300元不等，取決於訂購數量，體積大小，恕只接受匯款及LinePay</td></tr>							      	
										<tr><td>冷凍超取</td><td>運費：120元。僅提供7-11，需確認指定門市是否收取冷凍超取，並提供超商名稱與店號（包含指定用包材，價格更動依7-11官網為主，，恕只接受匯款及LinePay</td></tr>							      	
									</table>
									<p>
							       <em>須知：</em>
							       <ol>
							       	<li>宅配會有一定風險，可以接受再下單</li>
							       	<li>物流配送時間約為1-2個工作天，不含例假日，實際情況以物流為主</li>
							       	<li>目前無離島寄送服務</li>
							       	<li>如無特殊情況恕不接受棄單，無法退款。</li>
							       </ol>
							      
							       										
						      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
							      </div>
							    </div>
							  </div>
							</div>
							<!-- 退換貨欄位 -->
							<div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="staticBackdropLabel">退換貨</h5>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        <strong>退換貨政策：</strong>
							        嚐室工作室保有最終解釋權利
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
							      </div>
							    </div>
							  </div>
							</div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-white">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">

                        </div>
                    </div>
                </div>
            </div>
           
        </main>
	<!-- Footer-->
	<footer class="bg-dark py-4 mt-auto" id="index-footer">
		<div
			class="text-center row align-items-center justify-content-between flex-column flex-sm-row">
			<div class="d-flex align-items-center justify-content-start col-auto small m-0 text-white">
				<div class="fw-bold" id="footer-one">
					面交地址：台中市Ikea門口<span>/</span>南投市（7-11雅集門市、家樂福）
				</div>
			</div>
			<div
				class="d-flex align-items-center justify-content-start col-auto small m-0 text-white">
				<div class="fw-bold" id="footer-two">Line：@855cuteg</div>
			</div>
			<div
				class="d-flex align-items-center justify-content-start col-auto small m-0 text-white">
				<div class="fw-bold" id="footer-three">Instagram：tasteplace_0522</div>
			</div>
		</div>


		<!-- <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div> -->
	</footer>
	<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
